/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
!/bootstrap/cache/.gitkeep
.env
.env.backup
.env.production.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.env.*.local
storage/logs/*
!storage/logs/.gitkeep
